{% extends 'guitar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if parts %}
    <ul>
        {% for part in parts %}
            {% if part.category == category %}
                <li><a href="{% url 'guitar:show_part' category.slug part.slug %}">{{ part.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    <a href="{% url 'guitar:add_part' category.slug %}">Know a new one? Add your part here!</a>
    {% else %}
    The specified category does not exist.
    {% endif %}
{% endblock %}