<!DOCTYPE html>

<html>

    <head>
        <title>Guitars!!</title>
    </head>

    <body>
        <h1>This is the index page</h1>
        <div>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <a href="{% url 'guitar:show_category' category.slug %}">
                    {{ category.name }}
                </a>
                <strong>Parts in {{ category.name }}:</strong>
                {% for part in parts %}
                    {% if part.category == category %}
                        <li>{{ part.name }}</li>
                    {% endif %}
                {% endfor %}
            <br>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
        <div>
            <a href="/guitar/about/">About guitar</a>
        </div>
    </body>
</html>