{% extends 'guitar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>This is the homepage</h1>
    <div>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <a href="{% url 'guitar:show_category' category.slug %}">
                {{ category.name }}
            </a>
            <strong>Parts in {{ category.name }}:</strong>
            {% for part in parts %}
                {% if part.category == category %}
                    <li>{{ part.name }}</li>
                {% endif %}
            {% endfor %}
        <br>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>
    <div>
        <img src="{% static 'images/guitar.jpg' %}"
                alt="Picture of a guitar body"
                width="200" height="150" />
    </div>
{% endblock %}