{% extends 'guitar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if part %}
        {{ part.name }}
    {% else %}
        Unknown Part
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if part %}
        <h1>Part name: {{ part.name }}</h1>
    {% else %}
        The specified part does not exist.
    {% endif %}
    {% if category %}
        <h2>From {{ category.name }}</h2> 
    {% else %}
        The specified category does not exist.
    {% endif %}
    Warmth: {{ part.warmth }} <br />
    Sustain: {{ part.sustain }} <br />
    Weight: {{ part.weight }} <br />
    {{ part.pic.url }} <br />

    <img src="{% static '/media/part_images/humbucker.jpg' %}" alt="Pic of {{ part.name }}"
         style="max-width: 300px; max-height: 300px;">
{% endblock %}