<!DOCTYPE html>

{% load staticfiles %}

<html>

    <title>Register</title>

    <body>
        <h1>Register for *guitar website name*</h1>
        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'guitar:index' %}">Return to homepage.</a>
        {% else %}
        <!-- only showing register forms if user not already registed -->
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'guitar:register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            <!-- as_p wraps each element in a paragraph -->
            {{ user_form.as_p }} 
            {{ profile_form.as_p }}

            <!-- button to click to submit form -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>

</html>